<span id="home">
<div id="gallery" class="span11" last>
		<%= image_tag("/assets/alex7.jpg") %>
		<%= image_tag("/assets/alex4.jpg") %>
		<%= image_tag("/assets/erika1.jpg") %>
		<%= image_tag("/assets/tiberio8.jpg") %>
		<%= image_tag("/assets/ali4.jpg") %>
</div>
<script type="text/javascript">
            $("#gallery").galleria({
                width: 984,
                height: 654,
                autoplay: 4000
            });
</script>
</span>
