<span id="home">
<div id="gallery" class="span11" last>
  <%= image_tag("alex7.jpg") %>
  <%= image_tag("alex4.jpg") %>
  <%= image_tag("erika1.jpg") %>
  <%= image_tag("tiberio8.jpg") %>
  <%= image_tag("ali4.jpg") %>
</div>
<script type="text/javascript">
            $("#gallery").galleria({
                width: 984,
                height: 654,
                autoplay: 4000
            });
</script>
</span>
