
	<div id="gallery", align = "center">
		<%= image_tag("/assets/tiberio8.jpg") %>
		<%= image_tag("/assets/tiberio1.jpg") %>
		<%= image_tag("/assets/tiberio2.jpg") %>
		<%= image_tag("/assets/tiberio4.jpg") %>
		<%= image_tag("/assets/tiberio7.jpg") %>
		<%= image_tag("/assets/tiberio3.jpg") %>
		<%= image_tag("/assets/ali1.jpg") %>
		<%= image_tag("/assets/ali6.jpg") %>
		<%= image_tag("/assets/ali5.jpg") %>
		<%= image_tag("/assets/ali4.jpg") %>
		<%= image_tag("/assets/jerome3.jpg") %>
		<%= image_tag("/assets/jerome2.jpg") %>
	</div>
<script type="text/javascript">
            $("#gallery").galleria({
                width: 982,
                height: 654
            });
</script>

