<section>
	<div id="gallery", align = "center">
		<%= image_tag("/assets/irene-1.jpg") %>
		<%= image_tag("/assets/irene-2.jpg") %>
		<%= image_tag("/assets/irene-3.jpg") %>
		<%= image_tag("/assets/irene-4.jpg") %>
		<%= image_tag("/assets/irene-5.jpg") %>
		<%= image_tag("/assets/irene-6.jpg") %>
		<%= image_tag("/assets/camille1.jpg") %>
		<%= image_tag("/assets/camille2.jpg") %>
		<%= image_tag("/assets/camille3.jpg") %>
		<%= image_tag("/assets/camille4.jpg") %>
		<%= image_tag("/assets/alex7.jpg") %>
		<%= image_tag("/assets/alex4.jpg") %>
		<%= image_tag("/assets/alex9.jpg") %>
		<%= image_tag("/assets/alex6.jpg") %>
		<%= image_tag("/assets/alex10.jpg") %>
		<%= image_tag("/assets/alex3.jpg") %>
		<%= image_tag("/assets/alex5.jpg") %>
		<%= image_tag("/assets/erika1.jpg") %>
		<%= image_tag("/assets/erika2.jpg") %>
		<%= image_tag("/assets/erika4.jpg") %>
		<%= image_tag("/assets/erika3.jpg") %>
		<%= image_tag("/assets/erika8.jpg") %>
	</div>
	<script type="text/javascript">
            $("#gallery").galleria({
                width: 982,
                height: 654
            });
        </script>
</section>

