
<!DOCTYPE html>
<html class="js-home">
<head>
  <title>Rémi Guénaire</title>
  <meta name="description" content="Rémi Guénaire - Fashion Photographer - Film Director & Editor based in Paris"/> 
  <meta name="author" content="Rémi Guénaire"/> 
  <meta name="keywords" content="fashion, paris, rémi, guenaire, photographer, photo, photography"/ >
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <div id="logo">
      <%= link_to image_tag("/assets/logo.jpg"), :controller => 'home', :action => 'index' %>
    <div/>
  </header>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <nav>
        <ul>
          <li class="top cont-pro" style="display:block;"><span class="sub-level">PROJECTS</span>
          <ul class="pro" style="display:block;">
            <li><span class="sub-level" style="display:block;">FILM</span>
            <ul class="res" style="display:block;">
              <li><%= link_to 'COMMERCIAL', pages_films_commercial_path, remote: true, 'data-type' => :html %></li>
              <!--              <li><%= link_to 'SHORTS', pages_films_shorts_path, remote: true, 'data-type' => :html %></li> -->
            </ul>
            </li>

            <li><span class="sub-level">PHOTOS</span>
            <ul class="bur">
              <li><%= link_to 'WOMEN', pages_women_path, :remote => true, 'data-type' => :html  %></li>
              <li><%= link_to 'MEN', pages_men_path, :remote => true, 'data-type' => :html  %></li>
            </ul>
            </li>
          </ul> 
          </li> 
          <li class="top cont-con"><span>COLLABORATIONS</span>
          <ul class="con">
            <li><span class="sub-level">FILM</span>
            <ul class="film">
              <li><%= link_to 'COMMERCIAL', pages_coll_films_commercial_path, :remote => true, 'data-type' => :html  %></li>
              <li><%= link_to 'SHORTS/EDITORIAL', pages_coll_films_shorts_path, :remote => true, 'data-type' => :html  %></li>
            </ul>
            </li>

            <li><span class="sub-level">PHOTOS</span>
            <ul class="res">
              <li><%= link_to 'COMMERCIAL', pages_photos_commercial_path, :remote => true, 'data-type' => :html %></li>
              <li><%= link_to 'EDITORIAL', pages_photos_editorial_path, :remote => true, 'data-type' => :html  %></li>
            </ul>
            </li>
          </ul> 
          </li>
          <li class="active"><%= link_to 'CONTACT', pages_contact_path, :remote => true, 'data-type' => :html  %></li>
        </ul>
        </nav>
      </div>
      <div class="span10">
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
